[[source]]
url = "https://github.com/brunopacheco1/simple-rules-engine"
verify_ssl = true
name = "simple-rules-engine"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
qiskit = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
